footer{
    position: relative;
}
footer .footer-container{
    padding: 40px 0;
    border-top: 1px solid rgb(178, 178, 178);
    width: 90%;
    margin: 0 auto;
}
footer a , footer p {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(178, 178, 178);
    line-height: 25px;
}
footer a:hover {
    color: var(--white);
}
@media (max-width:768px){
    footer a, footer p{
        font-size: 1.7rem;
        text-align: right;
    }
}
