
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    font-family: 'Prompt', sans-serif;
}
    /* Hero */
    .hero{
        position: relative;
        height: calc(100vh - 100px);
        margin-top: 100px;
        background: url(/img/hero-background.jpeg);
        background-size: cover;
        background-position: bottom;
    }
    .hero::after{
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: #000;
        opacity: .5;

    }
    .hero .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero .content{
        position: relative;
        width: 50%;
        min-width: 575px;
        z-index: 2;
    }
    .hero .content h2{
        position: relative;
        text-align: center;
        font-family: 'Italiana';
        font-size: 7.2rem;
        font-weight: 300;
        line-height: 75px;
        text-transform: uppercase;
        z-index: 2;
    }
    .hero .content img{
        width: 25px;
        top: -15px;
        position: absolute;
        right: 25%;
        }
    .hero .content h2.with-text{
        /*display: inline-flex;*/ /*small div case */
        justify-content: center;
    }
    .hero .content h2 span{
        font-size: 1.3rem;
        line-height: 20px;
        font-weight: 200;
        width: 40%;
        margin-left: 15px;
        display: inline-block;
        text-align: left;
        text-transform: none;
        z-index: 2;
    }
    .hero .mobile-text{
        width: 90%;
        font-size: 2rem;
        line-height: 20px;
        font-weight: 200;
        text-transform: none;
        margin: 20px auto 0;
        text-align: left;
        display: none;
        z-index: 2;
    }
    .hero #scroll{
        position: absolute;
        text-transform: uppercase;
        right: 100px;
        bottom: 80px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        width: 25px;
        height: 25px;
        z-index: 2;

    }
    .hero .circle-svg{
        fill: none;
        height: 120px;
        stroke: red;
        stroke-width: 1.7;
        width: 120px;
        position: absolute;
        right: 40px;
        bottom: 40px;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        z-index: 2;
        animation:spin 4s linear infinite;
    }
    .hero .line-svg{
        position: absolute;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 250px;
        top: 40px !important;
        z-index: 2;
    }
    .path-1 {
        stroke-dasharray: 1739.9976806640625        ;
        stroke-dashoffset: 1739.9976806640625        ;
        animation: dash 1s linear forwards;
        animation-delay: 1s;
        fill: none;
        stroke: #ff0000;

      }
      .path-2 {
        stroke-dasharray: 1739.9976806640625        ;
        stroke-dashoffset: 1739.9976806640625        ;
        animation: dash 1s linear forwards;
        animation-delay: 2s;
        fill: none;
        stroke: #ff0000;


      }

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
   /* About */
   .about{
    position: relative;
    padding: 75px 0;
   }
   .about .about-title{
    font-family: 'Italiana', sans-serif;
    font-size: 16rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
   }
   .about .column{
    display: flex;
    margin-bottom: 50px;
   }
   .about .column h4{
    margin-bottom: 15px;
    font-size: 2rem;
    color: rgb(178, 178, 178);
    font-weight: 600;
   }
   .about .column p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 15px;
   }
   .about .column ul{
    list-style: none;
    padding: 0;
   }
   .about .column ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 25px;
    display: flex;
    align-items: center;
}
.about .column ul li i{
    margin-right: 5px;
}
/* Works */
.works{
    padding: 75px 0;
    position: relative;
}
.works h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
    margin-bottom: 50px;
}
.works .col-md-6{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.works .content a{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
    border: 1px solid #454545;
    width: 150px;
    justify-content: space-evenly;
    padding: 8px;
    border-radius: 5px;
}
.works .content a:hover{
    border-color: #fff;
}
.works .content a:hover .arrow{
    transform: translateX(5px);
}
.works .content a .arrow{
    position: relative;
    margin-left: 10px;
    font-size: 45px;
}
.works .content a .arrow svg{
    fill: none;
    height: 75px;
    stroke: red;
    stroke-width: 1.7;
    width: 75px;
    position: absolute;
    right: -25px;
    bottom: -5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    z-index: -1;
}
.works .slide{
    width: 75%;
    margin:  0 auto;
    border: 1px solid #454545;
    border-radius: 8px;
}
.works .slide .text-content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 15px;
}
/* .works .content p{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(178, 178, 178);
} */
.works .owl-carousel .owl-item img{
    display: block;
    max-width: 800px;
    max-height: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 30px;
}

/* ADVANTAGES */
.advantages{
    padding: 75px 0;
    position: relative;
}
.advantages h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
    margin-bottom: 50px;
}
.advantages p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 15px;
}
.advantages .image-content img{
    display: block;
    margin: 0 auto;
    width: 50%;
}
.advantages .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advantages .text-content ul{
    list-style-position: inside;
}
.advantages .text-content li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 28px;
    color: rgb(178, 178, 178);
}
.advantages .text-content a{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white);
}
.advantages .text-content a .arrow{
    position: relative;
    margin-left: 10px;
    font-size: 45px;
}
.advantages .text-content a .arrow svg{
    fill: none;
    height: 75px;
    stroke: red;
    stroke-width: 1.7;
    width: 75px;
    position: absolute;
    right: -25px;
    bottom: -5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    z-index: -1;
}
.advantages .text-content a:hover .arrow{
    transform: translateX(5px);
}
/* Mission */
.mission{
    padding: 75px 0;
    position: relative;
    overflow: hidden;
}
.mission h2{
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(178, 178, 178)
}
.mission .slider .slide {
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}
.mission .slider .slide p{
    font-family: 'Italiana', sans-serif;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}
.mission span{
    font-family: 'Italiana', sans-serif;
    position: absolute;
    top: -50%;
    left: 8%;
    font-size: 85rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.1);

}
/* Cards-Section */
.cards-section{
    position: relative;
}

.cards-section .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-section .cards .card{
    margin-bottom: 25px;
    width: 32%;
    background: #080808;
    border: 1px solid #454545;
    border-radius: 8px;
    padding: 20px;
}
.cards-section .cards .card h2{
    margin: 15px 0;
}
.cards-section .cards .card p{
   font-size: 1.4rem;
}

/* gallery */
.gallery{
    position: relative;

}
.gallery h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
}
.gallery .images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .gallery .images img{
    width: 12%;
}
.gallery .images .big-image{
    width: 7%;
} */
.gallery .single-image{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 20px;
}
.gallery .single-image img{
    width: 40%;
}
.gallery .owl-stage{
    display: flex;
    align-items: center;
}
.gallery .owl-carousel .owl-item img{
    width: 70%;
}
.gallery .owl-carousel .owl-item .big-image{
    width: 50%;
}
/* Contact */
/* Contact */
.contact-form{
    padding: 75px 0;
}
.contact-form h2{
    font-weight: 900;
    font-size: 3.2rem;
}

.contact-form p{
    font-size: 1.5rem;
    opacity: .5;
}
.contact-form .map{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.contact-form form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact-form form input, .contact-form form select{
    border-bottom: 1px solid #fff;
    padding: 10px;
    width: 49%;
    font-size: 1.4rem;
    color: #fff;
    margin: 15px 0;
    background: transparent;
}
.contact-form form option{
    background-color: #080808;
}
.contact-form form input[type='submit']{
    width: 100%;
    margin: 15px auto;
    border: 1px solid #454545;
    cursor: pointer;
    background: transparent;
    color: var(--white);
    border-radius: 4px;
    padding: 8px 40px;
    font-size: 1.4rem;
    font-weight: 500;
}
.contact-form form input[type='submit']:hover{
    border-color: #fff;
}
/* Responsive */
@media (min-width:1200px){

}
@media (max-width:1200px){

}
/* ************* */
@media (max-width:991px){
    .cards-section .cards .card{
        width: 48%;
    }
}
/* ************* */
@media (max-width:768px){
    .hero{
        margin-top: 0;
    }
    .hero .container{
        flex-direction: column;
    }
    .hero .content{
        min-width: 100%;
    }
    .hero .content h2 span{
        display: none;
    }
    .hero .content h2{
        font-size: 5rem;
        line-height: inherit;
    }
    .hero .content h2.with-text{
        display: block;
    }
    .hero .mobile-text{
        display: block;
    }
    .hero .line-svg{
        width: 65%;
        top: -12px !important;
        }
    .hero #scroll{
        right: 30px;
        bottom: 30px;
    }
    .hero .circle-svg{
        width: 95px;
        height: 95px;
        right: -12px;
        bottom: 0;
    }
    .about{
        padding: 75px 25px;
    }
    .about .about-title{
        font-size: 10rem;
    }
    .owl-carousel .owl-item img{
        width: 80%;
    }
    .mission span{
        display: none;
    }
    .mission .slider .slide p{
        text-align: center;
        width: 100%;
    }
    .gallery .images{
        flex-wrap: wrap;
    }
    .gallery .images img{
        width: 40%;
        margin: 8% auto;
    }
    .gallery .single-image img{
        width: 100%;
    }
    .advantages p{
        text-align: center;
        margin-top: 50px;
    }
    .works .slide{
        width: 90%;
        padding-bottom: 25px;
    }
    .works .slide .row{
        flex-direction: column-reverse;
    }
    .works .slide .text-content p{
        text-align: center;
    }
    .works .content a{
        margin: 0 auto;
    }
    .contact-form .row{
        display: flex;
        flex-direction: column-reverse;
    }
}
/* ************* */
@media (max-width:500px){
    .cards-section .cards .card{
        width: 100%;
    }
}
@media (max-width:350px){
    .hero .line-svg{
        width: 100%;
        top: -60px !important;
        }
}
/* Scroll Top */
#scroll_top{
    transform: rotate(-90deg);
    right: 10px;
    bottom: -60px;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
