@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color:#FF5300;
    --second-color:#d44f0c;
    --dark-color:#e74d00;
    --black:#4A4A4A;
    --white:#fff;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-radius : 8px;
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
    transition:width none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:rgb(178, 178, 178);
}
body{
    color: var(--white);
    background-color: #000000;
    overflow-x: hidden;
    background-position: center;
    background-size: contain;

}
a{
    text-decoration: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
    }

}
@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }


}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
.swal2-html-container{
    font-size: 2rem !important;
}
/* loader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: black;
  }
  .success-partners .partners-logos{
    height: fit-content !important;

}

  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid white;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }

  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
input[type=number] {
    appearance: textfield;
  }
  /*Scroll Top*/
#scroll_top{
    position: fixed;
    bottom: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 800;
    transition: 1s;
}
#scroll_top:hover{
    background: transparent;
    color: red;
    transform: scale(1.1) rotate(-90deg) translateX(10px);
}

@media (max-width:500px) {
    #pop_up form{
        height: 550px;
        width: 330px;
    }

}
